<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Portal eduCOLTEC</title>
    <!--Materialize CSS-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

    <link type="text/css" rel="stylesheet" href="css/style.css" media="screen,projection">
  </head>
  <body ng-app="eduCOLTEC">
      <!-- menu -->
      <nav class="indigo darken-3" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">eduCOLTEC</a>
        </div>
      </nav>
      <!-- Fim menu -->

      <!-- Banner principal -->
      <div class="parallax-container">
        <div class="section" id="index-banner">
          <div class="container">
            <h1 class="header center white-text">Portal eduCOLTEC</h1>
            <div class="row center">
              <h5 class="header col s12 light">O portal educativo do COLTEC!!</h5>
            </div>
            <div class="row center">
              <a href="#modal-novo-video" class="btn-large waves-effect waves-light indigo darken-3 modal-trigger">Novo Vídeo</a>
            </div>
          </div>
          <div class="parallax"><img src="public/images/coltec.png" alt="Unsplashed background img 1"></div>
        </div>
      </div>
      <!-- Fim Banner principal -->


      <!-- Modal para cadastro de novo vídeo -->
      <div id="modal-novo-video" class="modal modal-fixed-footer">
        <div class="row">
          <form class="col s12" method="post">
            <div class="modal-content">
              <div class="row">
                <div class="input-field col s6">
                  <input placeholder="Ex. Estruturas Condicionais" id="titulo" type="text" class="validate">
                  <label for="titulo">Título</label>
                </div>
                <div class="input-field col s6">
                  <input placeholder="Ex. Introdução a Programação" id="disciplina" type="text" class="validate">
                  <label for="disciplina">Disciplina</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s6" ng-controller="CursosController as cursosCtrl">
                  <select>
                    <option value="" disabled selected>Escolha um Curso</option>
                    <option ng-repeat="curso in cursosCtrl.cursos" value="{{curso.id}}">{{curso.nome}}</option>
                  </select>
                  <label>Curso</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="link-video" type="text" class="validate">
                  <label for="link-video">Link para Vídeo</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="link-imagem" type="text" class="validate">
                  <label for="link-imagem">Link para Imagem</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <textarea id="resumo" class="materialize-textarea"></textarea>
                  <label for="resumo">Resumo</label>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Fechar</a>
              <input type="submit" class="modal-action modal-close waves-effect waves-green btn-flat" value="Cadastrar">
            </div>
          </form>
        </div>
      </div>
      <!-- Fim da modal de novo vídeo -->


      <!-- Seção step-to-step -->
      <div class="container">
        <div class="section">
          <div class="row center light">
            <div class="col m4 s12">
              <div class="icon-block">
                <h2 class="center indigo-text"><i class="material-icons medium">video_label</i></h2>
                <h5>Assista</h5>
                <p class="light">
                  Aprenda quando e onde quiser assistindo um dos XXXXX vídeos disponibilizados no portal!!
                </p>
              </div>
            </div>
            <div class="col m4 s12">
              <div class="icon-block">
                <h2 class="center indigo-text"><i class="material-icons medium">star</i></h2>
                <h5>Avalie e Compartilhe</h5>
                <p class="light">
                  Gostou do vídeo? Avalie e compartilhe com seus amigos!!
                </p>
              </div>
            </div>
            <div class="col m4 s12">
              <div class="icon-block">
                <h2 class="center indigo-text"><i class="material-icons medium">add_to_queue</i></h2>
                <h5>Adicione novos vídeos</h5>
                <p class="light">
                  Deseja adicionar um novo vídeo que viu na web? Deseja disponibilizar um vídeo seu? Basta cadastrá-lo no portal!!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Fim da seção step-to-step -->

      <!-- Lista dos vídeos -->
      <div class="indigo darken-3">
        <div class="container">
          <div class="section">
            <div class="row">
              <div class="s12">
                <h3 class="white-text center">Vídeos Disponíveis Atualmente</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="blue-grey lighten-5" ng-controller="VideosController as videosCtrl">
        <div class="container">
          <div class="section">
            <div class="row no-pad-bot">
              <div class="col l4 m6 s12" ng-repeat="video in videosCtrl.videos">
                <div class="card hoverable medium">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" ng-src="{{video.imagem}}">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{videosCtrl.cursos[video.curso]}}<i class="material-icons right">more_vert</i></span><br>
                    <b>{{video.disciplina}}</b><br>
                    <span>{{video.titulo}}</span>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Resumo<i class="material-icons right">close</i></span>
                    <p>{{video.resumo}}</p>
                  </div>
                  <div class="card-action indigo lighten-5">
                    <a href="#video-{{video.id}}" class="indigo-text modal-trigger">Vídeo</a>
                    <a href="#comment-{{video.id}}" class="indigo-text modal-trigger">Comentários</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <!-- Modais para exibição dos vídeos e comentários -->
        <div ng-repeat="video in videosCtrl.videos">
          <div id="video-{{video.id}}" class="modal">
            <div class="modal-content" style="padding:0;">
              <div class="video-container">
                <iframe width="800" height="500" src="{{getVideoUrl(video)}}" frameborder="0"></iframe>
              </div>
            </div>
            <div class="modal-footer">
              <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Fechar</a>
            </div>
          </div>
          <div id="comment-{{video.id}}" class="modal modal-fixed-footer">
            <div class="modal-content">
              <h4>Comentários</h4>
              <div class="row" ng-repeat="comentario in video.comentarios">
                <div class="col s12">
                  <b>Nota: </b> <i class="material-icons tiny" ng-repeat="n in [] | range:comentario.nota">grade</i>
                </div>
                <div class="col s12">
                  <b>Comentário</b>
                  <p>
                    {{comentario.comentario}}
                  </p>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Fechar</a>
            </div>
          </div>
        </div>
        <!-- Fim das modais de vídeo e comentários -->
      </div>
      <!-- Fim da lista dos Vídeos -->



      <!-- Rodapé -->
      <footer class="page-footer indigo darken-3">
        <div class="container">
          <div class="row">
            <div class="col l9 s12">
              <h5 class="white-text">COLTEC/MG</h5>
              <p class="grey-text text-lighten-4">Essa página foi desenvolvida pelo Setor de Informática do Colégio Técnico de Minas Gerais.</p>
            </div>
            <div class="col l3 s12">
              <h5 class="white-text">Contato</h5>
              <ul>
                <li><a class="white-text" href="#!">Link 1</a></li>
                <li><a class="white-text" href="#!">Link 2</a></li>
                <li><a class="white-text" href="#!">Link 3</a></li>
                <li><a class="white-text" href="#!">Link 4</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright indigo darken-4">
          <div class="container">
          Made with <i class="material-icons">loyalty</i> by <a href="#">Setor de Informática</a>
          </div>
        </div>
      </footer>
      <!-- Fim rodapé -->

      <!--jQuery e materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script type="text/javascript" src="js/angular.min.js"></script>
      <script type="text/javascript" src="js/app.js"></script>
      <script type="text/javascript">
      (function($){
        $(function(){
          $('.parallax').parallax();
          $('.modal-trigger').leanModal();
          $('select').material_select();
        }); // end of document ready
      })(jQuery); // end of jQuery name space
      </script>
  </body>
</html>
