footer.page-footer {
  margin-top: 0px;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
  width: 100%;
}

.activator{
  max-width:100%;
  max-height: 200px;
  overflow:hidden;
}
