<!-- Banner principal -->
<div class="parallax-container" style="background-color:rgba(75,75,75,0.3)">
  <div class="section" id="index-banner">
    <div class="container" >
      <h1 class="header center white-text">Portal COLTEC ACADEMY</h1>
      <div class="row center">
        <h5 class="header col s12 light">O portal educativo do COLTEC!!</h5>
      </div>
      <div class="row center">
        <a href="#/novoVideo" class="btn-large waves-effect waves-light indigo darken-3">Novo Vídeo</a>
      </div>
    </div>
    <div class="parallax"><img src="public/images/coltec.jpg" alt="Unsplashed background img 1"></div>
  </div>
</div>
<!-- Fim Banner principal -->


<!-- Seção step-to-step -->
<div class="container">
  <div class="section">
    <div class="row center light">
      <div class="col m4 s12">
        <div class="icon-block">
          <h2 class="center indigo-text"><i class="material-icons medium">video_label</i></h2>
          <h5>Assista</h5>
          <p class="light">
            Aprenda quando e onde quiser assistindo um dos {{videosCtrl.videos.length}} vídeos disponibilizados no portal!!
          </p>
        </div>
      </div>
      <div class="col m4 s12">
        <div class="icon-block">
          <h2 class="center indigo-text"><i class="material-icons medium">star</i></h2>
          <h5>Avalie e Compartilhe</h5>
          <p class="light">
            Gostou do vídeo? Avalie e compartilhe com seus amigos!!
          </p>
        </div>
      </div>
      <div class="col m4 s12">
        <div class="icon-block">
          <h2 class="center indigo-text"><i class="material-icons medium">add_to_queue</i></h2>
          <h5>Adicione novos vídeos</h5>
          <p class="light">
            Deseja adicionar um novo vídeo que viu na web? Deseja disponibilizar um vídeo seu? Basta cadastrá-lo no portal!!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Fim da seção step-to-step -->

<!-- Header Lista dos vídeos -->
<div class="indigo darken-3">
  <div class="container">
    <div class="section">
      <div class="row ">
        <div class="s12">
          <h3 class="white-text center">Vídeos Disponíveis Atualmente</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Fim Header Lista dos vídeos -->


<div class="blue-grey lighten-5">
<!-- Ordenador -->
  <div class="row ">
    <div class="col m2 s1 offset-s10 offset-m11">
      <div class="fixed-action-btn horizontal click-to-toggle dropleft-main">
        <a class="btn-floating btn-large indigo darken-3">
          <i class="large mdi-navigation-menu"></i>
        </a>
        <ul>
          <li><button ng-click = "ordena_videos('rating')" class="btn-floating indigo waves-effect waves-light darken-3 dropleft-links">
            <i class="material-icons">trending_up</i></a></li>
          <li><button ng-click = "ordena_videos('reverse_rating')" class="btn-floating waves-effect waves-light indigo darken-3 dropleft-links" >
            <i class="material-icons">trending_down</i></a></li>
          <li><button ng-click = "ordena_videos('id')" class="btn-floating indigo waves-effect waves-light darken-3 dropleft-links">
            <i class="fa fa-calendar-plus-o fa-fw" aria-hidden="true"></i></a></li>
          <li><button ng-click = "ordena_videos('reverse_id')" class="btn-floating indigo waves-effect waves-light darken-3 dropleft-links">
            <i class="fa fa-calendar-minus-o fa-fw" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
<!-- Fim Ordenador -->

<!-- Lista dos vídeos -->
  <div  ng-repeat="curso in videosCtrl.cursos" ng-if="videosCtrl.checkbox[curso.id] == 1">
    <div class="container ">
      <div class="row ">
        <div class="col s12">
          <h4 style="display:inline"> {{curso.nome}} </h4>
          <a href="#/c{{curso.id}}" class="btn-floating btn-sml waves-effect waves-light indigo darken-3">
            <i class="material-icons">explore</i>
          </a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="section">
        <div class="row no-pad-bot">
          <div class="col l4 m6 s12" ng-repeat="video in videosCtrl.sortedVideos" ng-if="curso.id == video.curso.id">
              <div class="card hoverable medium">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" ng-src="{{video.urlImagem}}">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">{{video.disciplina}}<i class="material-icons right">more_vert</i></span><br>
                  <span>{{video.titulo}}</span>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Resumo<i class="material-icons right">close</i></span>
                  <p>{{video.resumo}}</p>
                </div>
                <div class="card-action indigo lighten-5">
                  <a href="#video-{{video.id}}" class="indigo-text modal-trigger" materialmodal>Vídeo</a>
                  <a href="#comment-{{video.id}}" class="indigo-text modal-trigger" materialmodal>Comentários</a>
                  <a class="indigo-text" ng-if="video.rate > 0">Nota: {{video.rate}}</a>
                  <a href="#deleteCheck-{{video.id}}" class="s-btn btn-floating indigo-text indigo modal-trigger " materialmodal><i class="material-icons">clear</i></a>
                  <a href="#deleteCheck-{{video.id}}" class="l-btn btn-flat indigo-text white modal-trigger" materialmodal><i class="material-icons">clear</i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- Fim Lista dos vídeos -->


<!-- Modais para exibição dos vídeos, comentários, e deletadores -->

  <!-- Videos -->
<div ng-repeat="video in videosCtrl.videos">
  <div id="video-{{video.id}}" class="modal">
    <div class="modal-content" style="padding:0;">
      <div class="video-container">
        <iframe width="800" height="600" src="{{getVideoUrl(video)}}" frameborder="0"></iframe>
      </div>
    </div>
    <div class="modal-footer">
      <a class=" modal-action modal-close waves-effect waves-green btn-flat">Fechar</a>
    </div>
  </div>
    <!-- Deletadores -->
  <div id="deleteCheck-{{video.id}}" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h5>Você tem certeza de que quer deletar esse vídeo?</h5>
      <div class="row">
        <div class="col s12 m4">
          <img class="responsive-img" ng-src="{{video.urlImagem}}"><br>
        </div>
      </div>
      <p class="card-title activator grey-text text-darken-4">Disciplina :{{video.disciplina}}</p>
      <p>Título :{{video.titulo}}</p>
      <p>Resumo :{{video.resumo}}</p>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect green-text waves-green btn-flat">Voltar</a>
      <button ng-click = "deleteVideo(video.id)" class="btn-flat waves-effect waves-red red-text white">
      <span> DELETAR </span></button>
    </div>
  </div>
    <!-- Comentarios -->
  <div id="comment-{{video.id}}" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Comentários</h4>
      <div class="row" ng-repeat="comentario in video.comentarios">
        <div class="col s12">
          <b>Nota: </b> <i class="material-icons tiny" ng-repeat="n in [] | range:comentario.nota">grade</i>
        </div>
        <div class="col s12">
          <b>Comentário</b>
          <p>
            {{comentario.comentario}}
          </p>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#/novoComentario/{{video.id}}" class="modal-action modal-close waves-effect waves-green btn-flat">Novo</a>
      <a class="modal-action modal-close waves-effect waves-green btn-flat">Fechar</a>
    </div>
  </div>
</div>
<!-- Fim das modais de vídeo e comentários -->
</div>


<script type="text/javascript">

(function($){
  $(function(){
    $('.parallax').parallax();
    $(".button-collapse").sideNav();
    $('.modal-trigger').leanModal();
  }); // end of document ready
})(jQuery); // end of jQuery name space
</script>
